<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a Map!</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/styles/control.coordinates.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- JQuery -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <script type="text/javascript" src="/scripts/helperMap.js"></script>
    <script type="text/javascript" src="/scripts/createMap.js"></script>
    <!-- LEAFLET -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnLI9h8YVMp-3mpfVBLWzGs6Yte3kPCis"
      async
      defer
    ></script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <script src="http://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/vendor/leaflet-providers.js"></script>
    <script src="/vendor/control.coordinates.js"></script>
    <script src="https://unpkg.com/leaflet.gridlayer.googlemutant@latest/dist/Leaflet.GoogleMutant.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="create-container">
      <%- include('partials/_alert') %>
      <div class="custom-popup" id="mapid"></div>

      <%- include('partials/_map_modal') %> <%- include('partials/_editor') %>
    </div>
  </body>
  <%- include('partials/_header') %>
  <!--  Bootstrap JSS -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</html>
