<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile - WikiMap</title>

    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico"/>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/profile.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  </head>
  <body>
    <%- include('partials/_header') %>
    <main style="margin-bottom: 10em">
      <section>
        <div>
          <div class="col-md-6 offset-md-3 user-avatar">
            <div
              class="d-flex flex-column align-items-center text-center p-3 py-5"
            >
              <div class="block">
                <img
                  class="rounded-circle mt-5 avatar-img"
                  width="150px"
                  src="<%= user.avatar_url%>"
                />
                <br />
                <h1 class="username-text"><%= user.user_name%></h1>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <h1><span class="badge"> Public Maps </span></h1>
          <div class="row">
            <% for(let map in maps) { %> <% if (maps[map].creator_id ===
            user.id) {%>
            <div class="col-lg-4 col-md-6 col-xl-3">
              <div class="card">
                <img
                  class="card-img-top"
                  src="https://api.mapbox.com/styles/v1/mapbox/<%=maps[map].basemap%>/static/<%=maps[map].longitude%>,<%=maps[map].latitude%>,11.5,0/303x180?access_token=pk.eyJ1IjoiYm9ic2giLCJhIjoiY2t0d2E5aGx4MDhvejJybndjM2hvNWc5NSJ9.o3jxq8IEZVKfrJutkzorww"
                  alt="Card image cap"
                />
                <div class="card-block">
                  <h5 class="card-title"><%= maps[map].title %></h5>
                  <p class="card-text"><%= maps[map].description %></p>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic example"
                  >
                    <div>
                      <form method="GET" action="/maps/<%=maps[map].id%>">
                        <button
                          type="submit"
                          class="
                            btn
                            glow-on-hover
                            justify-content-start
                            viewbtn
                          "
                        >
                          View
                        </button>
                      </form>
                    </div>
                    <% if (maps[map].creator_id === sessionId) {%>
                    <div>
                      <form
                        method="POST"
                        action="/maps/<%=maps[map].id%>/delete"
                      >
                        <button
                          type="submit"
                          class="btn btn-danger justify-content-end"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            fill="currentColor"
                            class="bi bi-trash"
                            viewBox="0 0 15 15"
                          >
                            <path
                              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                            />
                            <path
                              fill-rule="evenodd"
                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                            />
                          </svg>
                        </button>
                      </form>
                    </div>
                    <%}%>
                  </div>
                </div>
              </div>
            </div>
            <% } %> <% } %>
          </div>
        </div>

        <article style="margin-top: 2em">
          <div class="container">
            <h1><span class="badge"> Favourite Maps </span></h1>
            <div class="row">
              <% for(let fav in favourites) { %> <% if (favourites[fav].user_id
              === user.id) {%>
              <div class="col-lg-4 col-md-6 col-xl-3">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="https://api.mapbox.com/styles/v1/mapbox/<%= favourites[fav].basemap%>/static/<%=favourites[fav].longitude%>,<%=favourites[fav].latitude%>,11.5,0/303x180?access_token=pk.eyJ1IjoiYm9ic2giLCJhIjoiY2t0d2E5aGx4MDhvejJybndjM2hvNWc5NSJ9.o3jxq8IEZVKfrJutkzorww"
                    alt="Card image cap"
                  />
                  <div class="card-block">
                    <h5 class="card-title"><%= favourites[fav].title %></h5>
                    <p class="card-text"><%= favourites[fav].description %></p>
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Basic example"
                    >
                      <div>
                        <form
                          method="GET"
                          action="/maps/<%=favourites[fav].map_id%>"
                        >
                          <button
                            type="submit"
                            class="
                              btn
                              glow-on-hover
                              justify-content-start
                              viewbtn
                            "
                          >
                            View
                          </button>
                        </form>
                      </div>
                      <% if (favourites[fav].user_id === sessionId) {%>
                      <div>
                        <form
                          method="POST"
                          action="/favourites/<%=favourites[fav].id%>/delete"
                        >
                          <button
                            type="submit"
                            class="btn btn-warning justify-content-end"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="20"
                              height="20"
                              fill="#FF8000"
                              class="bi bi-star-fill"
                              viewBox="0 0 15 15"
                            >
                              <path
                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                              />
                            </svg>
                          </button>
                        </form>
                      </div>
                      <%}%>
                    </div>
                  </div>
                </div>
              </div>
              <% } %> <% } %>
            </div>
          </div>
        </article>
      </section>
    </main>
    <%- include('partials/_footer') %>
    <!--  Bootstrap JSS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
