<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/profile.css" type="text/css" />
    <title>Profile - WikiMap</title>
  </head>
  <body>
    <main>
      <section>
        <div>
          <div class="col-md-6 offset-md-3">
            <div
              class="d-flex flex-column align-items-center text-center p-3 py-5"
            >
              <img
                class="rounded-circle mt-5"
                width="150px"
                src="<%= user.avatar_url%>"
              />
              <br />
              <h3 class="mt-0"><%= user.user_name%></h3>
            </div>
          </div>
        </div>

        <div class="container">
          <h2><span class="badge badge-primary"> Public Maps </span></h2>
          <div class="row">
            <% for(let map in maps) { %> <% if (maps[map].creator_id ===
            user.id) {%>
            <div class="col-sm-3">
              <div class="card">
                <img
                  class="card-img-top"
                  src="http://dummyimage.com/303x180.png/66ADC2/ffffff"
                  alt="Card image cap"
                />
                <div class="card-block">
                  <h5 class="card-title"><%= maps[map].title %></h5>
                  <p class="card-text"><%= maps[map].description %></p>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic example"
                  >
                    <a
                      href="/create/:id"
                      class="btn btn-primary justify-content-start"
                      >More</a
                    >
                    <a
                      href="/:map_id/delete"
                      class="btn btn-secondary justify-content-end"
                    >
                      Delete</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <% } %> <% } %>
          </div>
        </div>

        <article style="margin-top: 2em">
          <div class="container">
            <h2><span class="badge badge-info"> Favourite Maps </span></h2>
            <div class="row">
              <% for(let fav in favourites) { %>
              <div class="col-sm-3">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="http://dummyimage.com/304x180.png/C27C66/ffffff"
                    alt="Card image cap"
                  />
                  <div class="card-block">
                    <h5 class="card-title"><%= favourites[fav].title %></h5>
                    <p class="card-text"><%= favourites[fav].description %></p>
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Basic example"
                    >
                      <a
                        href="/create/:id"
                        class="btn btn-primary justify-content-start"
                        >More</a
                      >
                      <a
                        href="/:map_id/delete"
                        class="btn btn-secondary justify-content-end"
                      >
                        Delete</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
